body {
    margin:0;
    font-family:Arial;
    display:flex;
}

#sidebar {
    width:250px;
    border-right:1px solid #ccc;
    padding:10px;
}

#content {
    flex:1;
    padding:20px;
}

.folder {
    font-weight:bold;
    cursor:pointer;
}

.file {
    margin-left:15px;
    cursor:pointer;
    color:#2196f3;
}
